<div data-message-container class="chart__message">
  {{#if view.fetchInProgress~}}
    <span class="chart_fetch-status">Fetching...</span>
  {{~/if~}}
</div>
<div data-moisture-chart-container class="chart__chart"></div>
