{{!--
  /**
   * Template that renders the html for the dashboard.
   * @class dashboard-template
   * @static
   * @author jyoung
   */
--}}
<div class="hello-world">Hello world, my name is Josh also!</div>
<span inject='moisture-chart'></span>
<span inject='moisture-list'></span>
