{{!--
  /**
   * Template that renders the html for the dashboard.
   * @class dashboard-template
   * @static
   * @author jyoung
   */
--}}
<div class='dashboard__navigation'>
  {{#if view.showChart}}
    <a href='#control'>Show Control</a>
  {{/if}}
  {{#if view.showControl}}
    <a href='#chart'>Show Chart</a>
  {{/if}}
</div>
<span inject='moisture-chart'></span>
<span inject='irrigation-control'></span>
